@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --dark-pink: #f5ebe5;
  --light-pink: #fef1e6;
  --text-gray: #696969;
  --blue-dark: #1d2a3a;
  --brown: #cb997e;
}

* {
  font-family: 'Poppins', sans-serif;
  /* transition: all 2s ease-in-out; */
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

/* HOME -------------------------------------------- */

/* HERO ---- */
.home-hero {
  background-color: var(--dark-pink);
}

.home-hero button {
  background-color: var(--blue-dark);
  border-radius: 4px;
}

.home-hero a {
  color: white;
}

/* Services ---- */
.services {
  text-align: center;
}

.services svg {
  fill: var(--brown);
  width: 4rem;
  height: 4rem;
}

/* SHOP -------------------------------------------- */
