@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --dark-pink: #f5ebe5;
  --light-pink: #fef1e6;
  --light-gray: #f5f5f5;
  --text-gray: #696969;
  --blue-dark: #1d2a3a;
  --brown: #cb997e;
  --brown-shade2: #a27a65;
}

* {
  font-family: 'Poppins', sans-serif;
  /* transition: all 2s ease-in-out; */
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.center-section {
  text-align: center;
}

/* HOME -------------------------------------------- */

/* HERO ---- */
.home-hero {
  background-color: var(--dark-pink);
}

.home-hero button {
  background-color: var(--blue-dark);
}

.home-hero a {
  color: white;
}

/* Services ---- */
.services svg {
  fill: var(--brown);
  width: 4rem;
  height: 4rem;
}

/* Categories ---- */
.categories h3 {
  color: var(--brown-shade2);
  font-family: 'Pacifico', cursive;
}

/* SHOP -------------------------------------------- */
